@using MyBlog.Authorization
@model MyBlog.Data.Entities.Post

<div class="col col-lg-4 col-md-6 col-12">

    <div class="card border border-bottom border-2 h-100 mb-3">
        <a asp-action="Details"
           asp-route-id="@Model.Id">
            <img src="data:image/*;base64,@(Convert.ToBase64String(Model.MainPostImage))"
                 class="card-img-top"
                 alt="@Model.Title">
        </a>

        <div class="card-body">
        </div>

        <div class="card-footer bg-white">

            @if (User.HasClaim(MyClaims.PostsWriter, MyClaims.PostsWriter))
            {
                <div class="row">
                    <div class="col col-6">
                        <a href="#"
                            class="btn btn-lg btn-warning">
                            Edit
                        </a>
                    </div>
                    @if (User.HasClaim(MyClaims.Admin, MyClaims.Admin))
                    {
                        <div class="row">
                            <div class="col col-6">
                                <a href="#"
                                    class="btn btn-lg btn-danger">
                                    Delete
                                </a>
                            </div>
                        </div>
                    }
                </div>
            }

            <h4 class="card-title">
                <a asp-action="Details"
                   asp-route-id="@Model.Id"
                   class="text-decoration-none">@Model.Title</a>
            </h4>
            <p class="card-text">
                <a asp-action="Index"
                   asp-route-categoryId="@Model.Category?.Id"
                   class="badge text-bg-info rounded-pill">
                    @Model.Category?.Name
                </a>
            </p>
        </div>
    </div>

</div>
